<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <center>
            <table width="400" border="0">
                <tr align="center" bgcolor="lightgreen">
                    <td>Name</td><td>Danny Chan</td>
                </tr>
                <tr align="center">
                    <td>Photo</td><td><img src="peter.jpg" width="100"></td>
                </tr>
                <tr align="center" bgcolor="yellow">
                    <td>Age</td><td>Twelve</td>
                </tr>
                <tr align="center">
                    <td>Gender</td><td>Male</td>
                </tr>
            </table>
        </center>
    </body>
</html>